.navi {
  display: flex;
  background-color: rgb(217, 218, 218);
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 25px;
}
.item {
  font-size: 18;
  color: black;
  margin-right: 10;
  text-decoration: none;
  align-items: center;
  padding-left: 10px;
}

.title {
  color: rgb(0, 139, 252);
}

.img {
  width: 30px;
  height: 30px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;

  margin-right: 15px;
}
